@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after
{
  box-sizing: border-box;
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: "Inter", sans-serif;
}

a
{
  color: #000;
  text-decoration: none;
}

.a-blue
{
  color: #0000EE;
}

ul
{
  list-style: none;
}

.container
{
  margin: 2rem 1.5rem;
}

.navbar
{
  display: flex;
  justify-content: space-between;

  &-sm
  {
    position: fixed;
    top: 0;
    right: 0;
    // width: 0;
    height: 100%;
    padding-top: 1.25rem;
    z-index: 1;
    background-color: #fff;
    transition: all 0.3s;
  
    & span
    {
      margin-left: 80%;
    }
  }

  &-links
  {
    display: flex;

    &-sm
    {
      margin-top: 3.125rem;
      margin-left: 1.563rem;
      font-size: 18px;

      & li
      {
        margin-top: 1.688rem;
      }
    }
  }

  &-link
  {
    margin-right: 2rem;
  }

  &-link:hover, &-link:active, &-link-sm:hover, &-link-sm:active
  {
    color: hsl(5, 85%, 63%);
  }

  &-toggle
  {
    cursor: pointer;
  }
}

.main-flex
{
  display: flex;
  flex-direction: column;
}

.intro
{
  margin: 1rem 0;

  &-img
  {
    width: 100%;
  }

  &-img-sm
  {
    width: 100%;
    margin-bottom: 1rem;
  }

  &-heading
  {
    margin-bottom: 1rem;
    font-size: 3.2rem;
    font-weight: 800;
  }

  &-text
  {
    margin-bottom: 1rem;
    font-size: 15px;
    line-height: 2;
  }

  &-btn
  {
    padding: 0.938rem 1.875rem;
    color: #000;
    font-weight: 800;
    background-color: hsl(5, 85%, 63%);
    text-transform: uppercase;
    letter-spacing: 0.063rem;

    &:hover, &:active
    {
      color: #fff;
      background-color: #000;
    }
  }
}

.articleDark
{
  margin: 3.125rem 0;
  padding: 1.25rem 1.25rem 1.875rem 1.25rem;
  background-color: hsl(240, 100%, 5%);

  &-heading
  {
    margin-bottom: 1.875rem;
    color: hsl(35, 77%, 62%);
  }

  &-title
  {
    margin-bottom: 0.625rem;
    color: hsl(36, 100%, 99%);

    &:hover, &:active
    {
      color: hsl(35, 77%, 62%);
    }
  }

  &-desc
  {
    color: #78798C;
    font-size: 15px;
  }

  &-divider
  {
    margin: 1.875rem 0;
    color: #78798C;
  }
}

.articlelight
{
  &-item
  {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1.875rem;
  }

  &-img
  {
    width: 40%;

    & img
    {
      width: 100%;
    }
  }

  &-content
  {
    margin-left: 1.875rem;
  }

  &-heading
  {
    margin-bottom: 0.625rem;
    color: hsl(5, 85%, 63%);
    font-size: 32px;
  }

  &-title
  {
    margin-bottom: 0.625rem;
    font-size: 20px;
    font-weight: 900;
  }

  &-desc
  {
    line-height: 1.8;
  }
}

@media screen and (min-width: 1440px)
{
  .container
  {
    margin: 3.75rem 6.25rem;
  }

  .main-flex
  {
    flex-direction: row;
  }
}