@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

*,
*::before,
*::after
{
  box-sizing: border-box;
}

*
{
  margin: 0;
  padding: 0;
}

body
{
  font-family: "Inter", sans-serif;
}

a
{
  color: #000;
  text-decoration: none;
}

ul
{
  list-style: none;
}

.container
{
  margin: 2rem 1.5rem;
}

.navbar
{
  display: flex;
  justify-content: space-between;

  &-links
  {
    display: flex;

    &-sm
    {
      position: fixed;
      top: 0;
      right: 0;
      width: 0;
      flex-direction: column;
      background-color: lightgray;
    }
  }

  &-link
  {
    margin-right: 2rem;
  }
}

.intro
{
  margin: 1rem 0;

  &-img-sm
  {
    width: 100%;
    margin-bottom: 1rem;
  }

  &-heading
  {
    margin-bottom: 1rem;
    font-size: 3.2rem;
    font-weight: 800;
  }

  &-text
  {
    font-size: 15px;
    line-height: 2;
  }
}